= form_with(model: team, local: true) do |form|
  - if team.errors.any?
    .alert.alert-info
      - team.errors.full_messages.each do |message|
        = message
  .team_form
    .row
      = form.label :title
      = form.text_field :title
    .row
      - if team.logo.thumb.present?
        .row
          .col= image_tag team.logo.thumb, size: 100
    .row
      = form.label :logo
      = form.file_field :logo
    = form.submit nil, class: 'btn-success'
