%article.row
  .col
    %strong Created at:
    %br
    %span= date_formatter team.created_at
  .col
    - if team.logo.thumb.present?
      = image_tag team.logo.thumb.url, size: 100, alt: team.title, |
        title: team.title, class: 'img-thumbnail'
  .col-6
    = link_to team.title, team
  .col
    %strong Captain:
    %br
    %span= team.captain.login
  .col
    - if team.captain_id == logged?
      = button_to 'Edit', edit_team_path(team.id), {method: :get, |
        class: 'btn-info'}
      = button_to 'Delete', team_path(team.id), {method: :delete, |
        class: 'btn-danger'}