%p#notice= notice
%section#tournament.container-fluid
  %h2= tournament.title
  %span
    %strong Participants number:
    = tournament.participants_number
  %h2 Participants
  - tournament.participations.each do |part|
    %article.row
      .col
        %strong Registration time:
        = date_formatter part.created_at
      .col
        = image_tag part.team.logo.thumb, size: 100, alt: part.team.title, |
          title: part.team.title
      .col-6
        %span= part.team.title
      .col
        %strong Captain:
        %span= part.team.captain.login