!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type'}/
    %title Game Tournaments Register
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', |
      'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.row
    .col-2
      = render 'partials/menu'
    .col
      .row.align-items-start
        = render 'partials/header'
      .row
        = render 'partials/notifications'
      .row
        = yield
      .row.align-items-end
        = render 'partials/footer'
